{% extends "base.html" %}
{% load cloudinary %}
{% block title %}{{ object }}{% endblock %}
{% block content %}

<h1>{{ object }}</h1>
{% cloudinary_url object.image width=800 height=600 crop="limit" as img_url %}
  <img src="{{ img_url }}" alt="{{ object }}">
<p>
  <strong>Performance:</strong> {{ object.performance }}
</p>
<p>
  <strong>Condition:</strong> {{ object.get_condition_display }}
</p>
<p>
  <strong>Specs:</strong>
</p>
<form
  method="post"
  action="{% url 'trailer:add_to_cart' object.pk %}"
  class="d-inline-block my-3"
>
  {% csrf_token %}
  <input type="hidden" name="quantity" value="1">
  <button type="submit" class="btn btn-primary">
    Add to Cart
  </button>
</form>
<pre>{{ object.specifications }}</pre>
{% if user.is_superuser %}
  <p>
    <a href="{% url 'showroom:car_edit'   object.slug %}">Edit</a> |
    <a href="{% url 'showroom:car_delete' object.slug %}">Delete</a>
  </p>
{% endif %}
<a href="{% url 'showroom:car_list' %}">← Back to list</a>
{% endblock %}
